<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/pag_usuario.css">
</head>

<body>
    <header>
        <a href="/views/pages/interfaces/interfaceUsuario.html"><img src="/public/img/logoPng3.png" alt="Logo Gymtri"
                width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="/views/pages/Aluno/buscarProfissional.html" class="navConfig">Buscar Profissional</a></li>
                <li><a href="/views/pages/Aluno/buscarAcademia.html" class="navConfig">Buscar Academias</a></li>
                <li><a href="/views/pages/Produtos/indexprodutos.html" class="navConfig" target="_blank">Produtos</a>
                </li>
                <li><a href="/views/pages/Aluno/editarDados.html" class="navConfig">Editar Dados</a></li>
                <li><a href="/views/pages/index.html" class="navConfig">Sair</a></li>
            </ul>
        </nav>

         <!--Menu Hambúrguer/Checkbox oculto-->

        <input type="checkbox" id="menuHamburguer">

        <!--Icone do menu hambúrguer-->
        <label for="menuHamburguer" class="menuBtn">
            <span></span>
            <span></span>
            <span></span>
        </label>

        <nav id="menuHamb">
            <ul>
                <li><a href="/views/pages/Aluno/buscarProfissional.html" class="navConfig">Buscar Profissional</a></li>
                <li><a href="/views/pages/Aluno/buscarAcademia.html" class="navConfig">Buscar Academias</a></li>
                <li><a href="/views/pages/Produtos/indexprodutos.html" class="navConfig">Produtos</a></li>
                <li><a href="/views/pages/Aluno/editarDados.html" class="navConfig">Editar Dados</a></li>
                <li><a href="/views/pages/index.html" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="container">
            <h2>Configure seu Usuário</h2>

            <!-- Visualização e edição do perfil -->
            <section class="profile-pic-container">
                <img id="profile-pic" src="https://via.placeholder.com/100" alt="Foto de Perfil">
                <input type="file" id="file-input" accept="image/*" onchange="previewImage(event)">
            </section>

            <section class="form-group">
                <label for="username">Nome de Usuário</label>
                <input type="text" id="username" placeholder="Digite seu nome" required>
            </section>

            <section class="form-group">
                <label for="altura">Altura</label>
                <input type="text" id="altura" placeholder="Digite sua altura" required>
            </section>

            <section class="form-group">
                <label for="peso">Peso</label>
                <input type="text" id="peso" placeholder="Digite seu peso" required>
            </section>

            <section class="form-group">
                <label for="meta">Minha meta</label>
                <textarea id="text" placeholder="Digite sua meta" rows="3"></textarea>
            </section>

            <button onclick="saveProfile()">Salvar Alterações</button>
        </section>
    </main>

    <script src="/public/js/pag_usuario.js"></script>

</body>

</html>