@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+NO:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2em 2em;
    width: 100%;
    position: relative;
    z-index: 10;
}

header a img {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2em;
    margin-top: -9em;
}

nav {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 1em 0 12em 0;
    margin-right: 15px;
    overflow: hidden;
}
.navConfig{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: #FFC83D;
    transition: 0.3s;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 5em;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #FFC83D;
    padding: 1.4em 2em;
    display: flex;
    font-size: 20px;
    text-align: center;
}

nav ul li a:hover{
    color: white;
    font-size: 17px;
    transition: 0.3s;
}

.subMenu{
    display: none;
    position: absolute;
    background-color: #252423;
    border: 1px solid #FFC83D;
    min-width: 120px;
    width: 100%;
    top: 100%;
    left: 0;
}

nav ul li:hover .subMenu{
    display: block;
}

.subMenu li{
    float: none;
}

.subMenu a {
    padding: 1.3em 0.8em;
    text-align: center;
    font-size: 16px;
    
}

.navConfig:hover {
    color: white;
    transition: 0.3s;
    font-size: 22px;
}

body {
    background-color: #252423;
    overflow-x: hidden;
}

main{
    margin: -4em 20em;
    position: relative; /*Alteração*/
    font-family: "Montserrat", sans-serif;
}

#title {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 70%;
}

.h1Title {
    color: #FFC83D;
    font-size: 1.2em;
    font-weight: normal;
    padding: 0.2em;
    border-radius: 8px;
}

hr {
    border-color: #FFC83D;
    margin-bottom: 1em;
}

.hrMenu {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;

}

.titleLabel {
    color: #FFC83D;
    font-size: 1.6em;
    transition: 0.3s;
}

input{
    background-color: #252423;
    border: 1px solid #FFC83D;
    border-radius: 1.2em;
    padding: 1em;
    margin: 1em 0;
    width: 100%;
    color: white;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
}

#textRegister{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1.1em;
}

#textRegister a{
    color: #FFC83D;
}

#textRegister a:hover{
    color: white;
}

#buttonInput{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#buttonInput button{
    background-color: #252423;
    color: #FFC83D;
    padding: 0.5em 2em;
    border: 1px solid #FFC83D;
    border-radius: 1em;
    font-size: 1.4em;
    cursor: pointer;
}

#buttonInput button:hover{
    background-color: #FFC83D;
    color: #252423;
    transition: 0.3s;
}

#numberAndCpf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#card {
    margin-top: 10em;
}

#codeValidation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#confirmRegister {
    margin-top: 2em;
}

#textLogin {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0.8em 1em;
    
}

#textLogin a {
    color: #FFC83D;
}

#textLogin a:hover {
    color: white;
    transition: 0.3s;
}

select {
    background-color: #252423;
    border: 1px solid #FFC83D;
    border-radius: 1.2em;
    padding: 1em;
    margin: 1em 0;
    width: 100%;
    color: white;
    transition: 0.3s;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}


