@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playwrite+NO:wght@100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: #00BFAE;
    margin-bottom: 2em;
}

header a img {
    margin-right: 2em;
}

nav {
    width: 100%;
    padding: 0.2em 0;
    margin-right: 15px;
}

.navConfig{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
    transition: 0.3s;
    text-align: center;
    display: flex;
    padding: 1.4em 2em;
}

.navConfig:hover {
    color: #607D8B;
    transition: 0.3s;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-right: 5em;
}

nav ul li {
    position: relative;
}

body {
    background-color: #E0E0E0;
    overflow-x: hidden;
}

main {
    margin: 0 16em;
    height: auto;
}

#blockInterface{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.blocksInterface img{
    width: 40%;
    margin-bottom: 1em;
}

.blocksInterface a{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blocksInterface{
    width: 30%;
    height: auto;
    margin: 2em auto;
    border: 2px solid #00BFAE;
    border-radius: 8%;
    padding: 2em;
    transition: 0.3s;
}

.blocksInterface:hover {
    border: 2px solid #00BFAE;
    width: 31%;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px #00BFAE;

}

.blocksInterface span a {
    text-decoration: none;
    color: #00BFAE;
    font-weight: 600;
}

.title{
    text-align: center;
    color: #00BFAE;
    margin-bottom: 3em;
}

.consult {
    margin: 4em 6em;
    height: auto;
    border: 1px solid #607D8B;
    border-radius: 1em;
}

.itemConsult {
    padding: 1em;
    color: #607D8B;
    border: 1px solid #607D8B;
    border-radius: 0.6em;
    font-weight: 500;
}

.consult h4{
    color: #00BFAE;
    margin-bottom: 0.5em;
}

.consult section p{
    margin-bottom: 0.5em;
}

.itemConsult span {
    color: #00BFAE;
    font-weight: 500;
}

.consult #item3 {
    border: 0px;
    text-align: center;
    margin: 6em 0;
}

.consult #item3 h4 {
    color: #00BFAE;
}

#btnConsult {
    width: 70%;

}

.btnConfig{
    margin: 1em 1em 0 0;
    background-color: #00BFAE;
    border: 1px solid #607D8B;
    border-radius: 1em;
    color: #ffffff;
    padding: 0.5em;
    font-size: 1em;
}

.btnConfig:hover{
    color: #ffffff;
    background-color: #607D8B;
    border: 1px solid #607D8B;
    cursor: pointer;
}

.labelAgend{
    color: #00BFAE;
    font-size: 1.6em;
    font-weight: 400;
}

input{
    background-color: #ffffff;
    border: 2px solid #00BFAE;
    border-radius: 1.2em;
    padding: 1em;
    margin: 1em 0;
    width: 100%;
    color: #607D8B;
    transition: 0.3s;
    font-size: 1em;
    font-weight: 500;
}

select {
    background-color: #ffffff;
    border: 2px solid #00BFAE;
    border-radius: 1.2em;
    padding: 1em;
    margin: 1em 0;
    width: 100%;
    color: #607D8B;
    transition: 0.3s;
    font-size: 1em;
    font-weight: 500;
}

.btnAgend{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 2em;
}

#pendingBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#labelPending{
    margin-left: 4em;
    color: #00BFAE;
    font-size: 1.6em;
}
#btnPending {
    padding: 1em;
    margin: 0 1em;
    background-color: #00BFAE;
    border: 2px solid #607D8B;
    border-radius: 1.2em;
    font-size: 1em;
    color: #ffffff;
}

#btnPending:hover {
    color: #ffffff;
    transition: 0.3s;
    background-color: #607D8B;
    border: 2px solid #607D8B;
    cursor: pointer;
}

#search{
    margin-left: 6em;
    width: 60%;
}

#h1Text{
    color: #00BFAE;
    font-size: 1.6em;
    margin: 2em 1em;
}

.configText{
    color: #00BFAE;
    font-size: 1.2em;
}

.blockText{
    color: #607D8B;
    margin: 1em 1.5em;
    font-weight: 500;
}

#h3Text{
    color: #00BFAE;
    font-size: 1.6em;
    margin: 1em;
}