<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
    <link rel="stylesheet" href="/public/css/styleLogin.css">
    <script src="/public/js/register.js" defer></script>
</head>
<body>
    <header>
        <a href="index.html"><img src="/public/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li> <a href="Produtos/indexprodutos.html" class="navConfig">Produtos</a></li>
                <li><a href="index.html#plansValueContainer" class="navConfig">Planos</a></li>
                <li><a href="index.html#blockAdvantage" class="navConfig">Vantagens</a></li>
                <li><a href="cadastro.html" class="navConfig">Cadastre-se</a></li>
                <li><a href="login.html" class="navConfig">Login</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="title" class="h1Title">
            <h1>CADASTRO</h1>
        </section>
        <hr>
        <section id="chooseUserRegister">
            <button class="btnChoose" onclick="showForm('aluno')" type="button">Aluno</button>
            <button class="btnChoose" onclick="showForm('academia')" type="button">Academia</button>
            <button class="btnChoose" onclick="showForm('profissional')" type="button">Profissional</button>
        </section>

        <section id="registerAluno">
            <form>
                <section id="fullnameInput">
                    <label for="fullname" class="titleLabel">Nome completo</label>
                    <br>
                    <input id="fu" type="email" placeholder="Digite seu nome completo">
                </section>
    
                <br>
    
                <section id="emailRegisterInput">
                    <label for="emailRegister" class="titleLabel">E-mail</label>
                    <br>
                    <input id="emailRegister" type="email" placeholder="Digite seu e-mail">
                </section>
    
                <br>
                <section id="passwordInput">
                    <label for="passwordRegister" class="titleLabel">Senha</label>
                    <input type="password" name="passwordRegister" id="passwordRegister" placeholder="Insira sua senha">
                </section>
    
                <br>
    
                <section id="passwordConfirmInput">
                    <label for="passwordRegisterConfirm" class="titleLabel">Confirmar senha</label>
                    <input type="password" name="passwordRegisterConfirm" id="passwordRegisterConfirm" placeholder="Confirme sua senha">
                </section>
    
                <br>
    
                <section id="numberAndCpf">
                    <section>
                        <label for="numberRegister" class="titleLabel">Celular</label>
                        <input type="text" name="numberRegister" id="numberRegister" placeholder="Ex: 11940028922" maxlength="11">
                    </section>
                    <section>
                        <label for="cpfRegister" class="titleLabel">CPF</label>
                        <input type="text" name="cpfRegister" id="cpfRegister" placeholder="Digite seu CPF" maxlength="11">
                    </section> 
                    
                </section>
    
                <br>
    
                <section>
                    <label class="titleLabel" for="plan">Esolha o plano:</label>
                    <select name="plans" id="choicePlans">
                        <option id="null2" value="null">Escolha o plano</option>
                        <option value="Gratuito"> Gratuito</option>
                        <option value="Básico">Básico</option>
                        <option value="Intermediário">Intermediário</option>
                        <option value="Pro">Pro</option>
                    </select>
                </section>
    
                <section id="card" class="h1Title">
                    <h1>DADOS DO CARTÃO</h1>
                </section>
    
                <hr>
    
                <section id="numberCard">
                    <label for="numberCardRegister" class="titleLabel">Número do cartão</label>
                    <input type="text" name="numberCardRegister" id="numberCardRegister" placeholder="Insira o número do cartão (Sem ' . ')">
                </section>
    
                <br>
    
                <section id="nameCard">
                    <label for="nameCardRegister" class="titleLabel">Nome impresso no cartão</label>
                    <input type="text" name="nameCardRegister" id="nameCardRegister" placeholder="Digite como está impresso no cartão">
                </section>
    
                <br>
    
                <section id="codeValidation">
                    <section>
                        <label for="validityDate" class="titleLabel">Validade</label>
                        <input type="text" name="validityDate" id="validityDate" placeholder="Ex: 02/29" maxlength="5">
                    </section>
                    <section>
                        <label for="cvvValidation" class="titleLabel">CVV</label>
                        <input type="text" name="cvvValidation" id="cvvValidation" placeholder="3 digitos no verso" maxlength="3">
                    </section> 
                </section>
    
                <section id="buttonInput">
                    <button type="button" id="confirmRegister">Confirmar Cadastro</button>
                </section>
    
                <section id="textLogin">
                    <a href="login.html">Já possuo uma conta</a>
                </section>
            </form>
        </section>

        <section id="registerAcademia">
            <form>
                <section id="nameAcademyInput">
                    <label for="nameAcademyRegister" class="titleLabel">Nome da academia</label>
                    <br>
                    <input id="nameAcademyRegister" type="text" placeholder="Digite o nome da academia">
                </section>
    
                <br>
    
                <section id="cpnjAcademyInput">
                    <label for="cpnjAcademyRegister" class="titleLabel">CNPJ</label>
                    <br>
                    <input type="text" name="cpnjAcademyRegister" id="cpnjAcademyRegister" placeholder="Digite o CNPJ de sua academia" maxlength="14">
                </section>
    
                <br>
    
                <section id="emailAcademyInput">
                    <label for="emailAcademyRegister" class="titleLabel">E-mail</label>
                    <br>
                    <input id="emailAcademyRegister" name="emailAcademyRegister" type="email" placeholder="Digite seu e-mail">
                </section>
    
                <br>
    
                <section id="passwordAcademyInput">
                    <label for="passwordAcademyRegister" class="titleLabel">Senha</label>
                    <input type="password" name="passwordAcademyRegister" id="passwordAcademyRegister" placeholder="Insira sua senha">
                </section>
    
                <br>
    
                <section id="passConfirmInput">
                    <label for="passAcademyConfirm" class="titleLabel">Confirmar senha</label>
                    <input type="password" name="passAcademyConfirm" id="passAcademyConfirm" placeholder="Confirme sua senha">
                </section>
    
                <br>
    
                <section id="cepAcademyInput">
                    <label for="cepAcademyRegister" class="titleLabel">CEP</label>
                    <input type="text" name="cepAcademyRegister" id="cepAcademyRegister" placeholder="Digite o CEP (Ex: 00000-000)" maxlength="9">
                </section>
    
                <section id="buttonInput">
                    <button type="button" id="confirmRegister">Confirmar Cadastro</button>
                </section>
    
                <section id="textLogin">
                    <a href="login.html">Já possuo uma conta</a>
                </section>
                
            </form>
        </section>
        
        <section id="registerProfissional">
            <form>
                <section id="fullnameInput">
                    <label for="fullname" class="titleLabel">Nome completo</label>
                    <br>
                    <input id="fu" type="email" placeholder="Digite seu nome completo">
                </section>
    
                <br>
    
                <section id="emailRegisterInput">
                    <label for="emailRegister" class="titleLabel">E-mail</label>
                    <br>
                    <input id="emailRegister" type="email" placeholder="Digite seu e-mail">
                </section>
    
                <br>
                <section id="passwordInput">
                    <label for="passwordRegister" class="titleLabel">Senha</label>
                    <input type="password" name="passwordRegister" id="passwordRegister" placeholder="Insira sua senha">
                </section>
    
                <br>
    
                <section id="passwordConfirmInput">
                    <label for="passwordRegisterConfirm" class="titleLabel">Confirmar senha</label>
                    <input type="password" name="passwordRegisterConfirm" id="passwordRegisterConfirm" placeholder="Confirme sua senha">
                </section>
    
                <br>
    
                <section id="numberAndCpf">
                    <section>
                        <label for="numberRegister" class="titleLabel">Celular</label>
                        <input type="text" name="numberRegister" id="numberRegister" placeholder="Ex: 11940028922" maxlength="11">
                    </section>
                    <section>
                        <label for="cpfRegister" class="titleLabel">CPF</label>
                        <input type="text" name="cpfRegister" id="cpfRegister" placeholder="Digite seu CPF" maxlength="11">
                    </section> 
                </section>
    
                <section id="profissionalRegister">
                    <label for="profissionalReg" class="titleLabel">Registro profissional</label>
                    <input type="text" name="profissionalReg" id="profissionalReg" placeholder="Informe seu registro profissional (Número CRM ou CRN).">
                </section>
    
                <section id="buttonInput">
                    <button type="button" id="confirmRegister">Confirmar Cadastro</button>
                </section>
    
                <section id="textLogin">
                    <a href="login.html">Já possuo uma conta</a>
                </section>
                
        </section>
    </main>
</body>
</html>