<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar senha</title>
    <link rel="stylesheet" href="/public/css/styleLogin.css">
</head>
<body>
    <header>
        <a href="index.html"><img src="/public/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li> <a href="Produtos/indexprodutos.html" class="navConfig">Produtos</a></li>
                <li><a href="index.html#plansValueContainer" class="navConfig">Planos</a></li>
                <li><a href="index.html#blockAdvantage" class="navConfig">Vantagens</a></li>
                <li><a href="cadastro.html" class="navConfig">Cadastre-se</a></li>
                <li><a href="login.html" class="navConfig">Entrar</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="title" class="h1Title">
            <h1>Recupere sua senha</h1>
        </section>
        <hr>

        <form>
            <section id="emailInput">
                <label for="email" class="titleLabel">E-mail</label>
                <br>
                <input id="recoverEmail" type="email" placeholder="Digite seu e-mail">
            </section>
            <section id="recoverPassword">
                <label for="text" class="titleLabel">Telefone</label>
                <br>
                <input id="email" type="email" placeholder="Digite seu telefone">
            </section>

            <section id="textRegister">
                <a href="cadastro.html">Não possui uma conta? Registre-se.</a>
            </section>

            <br>
            
            <section id="buttonInput">
                <a href="esqueciSenhaCod.html"><button type="button" id="btnConfirm">Continuar</button></a>
            </section>
        </form>
    </main>

</body>
</html>