<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar profissional</title>
    <link rel="stylesheet" href="/public/css/styleInterface.css">
</head>
<body>
    <header>
        <a href="/views/pages/interfaces/interfaceAcademia.html"><img src="/public/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="buscarProfissional.html" class="navConfig">Profissionais</a></li>
                <li><a href="gerarAula.html" class="navConfig">Gerar aula</a></li>
                <li><a href="/views/pages/Produtos/indexprodutos.html" class="navConfig" target="_blank">Produtos</a></li>
                <li><a href="editarDados.html" class="navConfig">Editar dados</a></li>
                <li><a href="/views/pages/index.html" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="title">
            <h1>Buscar profissional</h1>
        </section>

        <form>
            <section>
                <label class="labelAgend" for="area">Digite o nome ou Registro profissional</label>
                <input type="text" name="nameOrRegister" id="nameOrRegister" placeholder="Nome ou registro do profissional. Ex: CRM">
            </section>
            <section class="btnAgend">
                <button class="btnConfig">Buscar profissional</button>
            </section>
        </form>
    </main>
  
</body>
</html>