<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar dados</title>
    <link rel="stylesheet" href="/public/css/pag_academia.css">
</head>
<body>
    <header>
        <a href="/views/pages/interfaces/interfaceAcademia.html"><img src="/public/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="buscarProfissional.html" class="navConfig">Profissionais</a></li>
                <li><a href="gerarAula.html" class="navConfig">Gerar aula</a></li>
                <li><a href="/views/pages/Produtos/indexprodutos.html" class="navConfig" target="_blank">Produtos</a></li>
                <li><a href="editarDados.html" class="navConfig">Editar dados</a></li>
                <li><a href="/views/pages/index.html" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="container">
            <h2>Configure sua Academia</h2>
    
            <!-- Visualização e edição do perfil -->
            <div class="profile-pic-container">
                <img id="profile-pic" src="https://via.placeholder.com/100" alt="Foto de Perfil">
                <input type="file" id="file-input" accept="image/*" onchange="previewImage(event)">
            </div>
    
            <div class="form-group">
                <label for="username">Nome da Academia</label>
                <input type="text" id="username" placeholder="Digite seu nome" required>
            </div>
    
            <div class="form-group">
                <label for="enderco">Endereço</label>
                <input type="text" id="endereco" placeholder="Digite o Endereço" required>
            </div>

            <div class="form-group">
                <label for="contatos">Contatos</label>
                <input type="text" id="contatos" placeholder="Digite os contatos" required>
            </div>
    
            <div class="form-group">
                <label for="missao">Missão da Academia</label>
                <textarea id="text" placeholder="Digite sua Missão" rows="3"></textarea>
            </div>
    
            <button onclick="saveProfile()">Salvar Alterações</button>
        </div>

    </main>

    <script src="/public/js/pag_academia.js"></script>

</body>
</html>