<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar aula</title>
    <link rel="stylesheet" href="/public/css/styleInterface.css">
</head>
<body>
    <header>
        <a href="/views/pages/interfaces/interfaceAcademia.html"><img src="/public/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="buscarProfissional.html" class="navConfig">Profissionais</a></li>
                <li><a href="gerarAula.html" class="navConfig">Gerar aula</a></li>
                <li><a href="/views/pages/Produtos/indexprodutos.html" class="navConfig" target="_blank">Produtos</a></li>
                <li><a href="editarDados.html" class="navConfig">Editar dados</a></li>
                <li><a href="/views/pages/index.html" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="title">
            <h1>Gerar aula</h1>
        </section>

        <form>
            <section>
                <label class="labelAgend" for="classroom">Aula</label>
                <input type="text" name="classroom" id="classroom" placeholder="Digite o nome da aula">
            </section>
            <section>
                <label class="labelAgend" for="professionalClassroom">Profissional </label>
                <select name="professionalClassroom" id="professionalClassroom" aria-placeholder="Escolha o profissional">
                    <option id="null2" value="null">Selecione o profissional</option>
                    <option value="Dr. Fulano de Tal da Silva"> Dr. Fulano de Tal da Silva</option>
                    <option value="Dra. Ciclana de Tal Gomes">Dra. Ciclana de Tal Gomes</option>
                </select>
            </section>
            <section>
                <label class="labelAgend" for="limit">Vagas</label>
                <input type="number" name="limit" id="limit" placeholder="Digite o limite de vagas">
            </section>
            <section>
                <label class="labelAgend" for="date">Data</label>
                <input type="date" name="date" id="date">
            </section>
            <section>
                <label class="labelAgend" for="hours">Horário</label>
                <input type="time" name="" id="">
            </section>
            <section class="btnAgend">
                <button class="btnConfig">Gerar aula</button>
            </section>
        </form>
    </main>
  
</body>
</html>