<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treinos e aulas</title>
    <link rel="stylesheet" href="/public/css/styleInterface.css">
</head>
<body>
    <header>
        <a href="/views/pages/interfaces/interfaceAcademia.html"><img src="/public/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="buscarProfissional.html" class="navConfig">Profissionais</a></li>
                <li><a href="gerarAula.html" class="navConfig">Gerar aula</a></li>
                <li><a href="/views/pages/Produtos/indexprodutos.html" class="navConfig" target="_blank">Produtos</a></li>
                <li><a href="editarDados.html" class="navConfig">Editar dados</a></li>
                <li><a href="/views/pages/index.html" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="title">
            <h1>Consulte treinos e aulas disponiveis</h1>
        </section>

        <section id="blockConsultUser" class="consult">
            <section id="item1" class="itemConsult">
                <h4>Treino de hipertrofia</h4>
                <p><span>Profissional(a):</span> Dr. Fulano de Tal da Silva</p>
                <p><span>Situação:</span> Há vagas</p>
                <p><span>Data:</span> Semana disponivel</p>
                <p><span>Horário:</span> 09:30 às 17:30</p>
                <section id="btnConsult">
                    <button class="btnConfig">Agendar aluno</button>
                    <button class="btnConfig">Remover aluno</button>
                </section>
            </section>
            <section id="item3" class="notConsult">
                <h4>Não há mais atividades.</h4>
        </section>
    </main>
  
</body>
</html>