<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/public/css/styleInterface.css">
</head>
<body>
    <header>
        <a href="interfaceUsuario.html"><img src="/public/img/logoPng3.png" alt="Logo Gymtri" width="80px"></a>
        <nav id="menu">
            <ul>
                <li><a href="/views/pages/Aluno/buscarProfissional.html" class="navConfig">Buscar Profissional</a></li>
                <li><a href="/views/pages/Aluno/buscarAcademia.html" class="navConfig">Buscar Academias</a></li>
                <li><a href="/views/pages/Produtos/indexprodutos.html" class="navConfig">Produtos</a></li>
                <li><a href="/views/pages/Aluno/editarDados.html" class="navConfig">Editar Dados</a></li>
                <li><a href="/views/pages/index.html" class="navConfig">Sair</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="blockInterface">
            <section id="calendar" class="blocksInterface">
                <a href="/views/pages/Aluno/agendamento.html"><img src="/public/img/calendar2.png" alt="Calendário"></a>
                <span>
                    <a href="/views/pages/Aluno/agendamento.html">Meus agendamentos</a>
                </span>
            </section>

            <section id="gym" class="blocksInterface">
                <a href="/views/pages/Aluno/treinos.html"><img src="/public/img/dumbbell2.png" alt="Treino"></a>
                <span>
                    <a href="/views/pages/Aluno/treinos.html">Meus treinos</a>
                </span>
            </section>

            <section id="report" class="blocksInterface">
                <a href="/views/pages/Aluno/relatorio.html"><img src="/public//img/report2.png" alt="Relatórios"></a>
                <span>
                    <a href="/views/pages/Aluno/relatorio.html">Meus relatórios</a>
                </span>
            </section>

            <section id="health" class="blocksInterface">
                <a href="/views/pages/Aluno/saude.html"><img src="/public//img/health2.png" alt="Saúde"></a>
                <span>
                    <a href="/views/pages/Aluno/saude.html">Para sua saúde</a>
                </span>
            </section>

            <section id="support" class="blocksInterface">
                <a href="https://wa.me/11993376336" target="_blank"><img src="/public//img/support2.png" alt="Suporte"></a>
                <span>
                    <a href="https://wa.me/11993376336" target="_blank">Suporte</a>
                </span>
            </section>

            <section id="friend" class="blocksInterface">
                <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOZgnrCptewiJvps22y9QTAd85ExkoWYshVt_EuFB7Ey5-Tg/viewform?usp=sf_link" target="_blank"><img src="/public//img/friend2.png" alt="Amigo"></a>
                <span>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeOZgnrCptewiJvps22y9QTAd85ExkoWYshVt_EuFB7Ey5-Tg/viewform?usp=sf_link" target="_blank">Indique um amigo</a>
                </span>
            </section>

        </section>
    </main>
</body>
</html>